@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/* resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #eee;
}

html{
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
/* containers */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
/* Utilities */
.section-title {
  padding: 25px 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: #eee;
  letter-spacing: 2px;
}

h2 {
  font-size: 30px;
}

.btn{
  display: inline-block;
  padding: 10px;
  width: 150px;
  border: none;
  margin: 15px 0;
  font-size:18px;
  border-radius:10px;
  transition:.2s linear;
}
.btn:active{
  transform: scale(.98);
  box-shadow:none;
}
.btn-primary{
  background-color: #e4792d;
  color: #eee;
  box-shadow:-1px 5px 5px #000;
}

.btn-primary:hover{
  background-color: #fa9750;
  color: #222;
}
/* header */

#header-home {
  height: 100vh;
  background: url(img/herobg.jpg) no-repeat center center/cover;
  position: relative;
}

#header-home::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

nav {
  width: 100%;
  position:fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 0;
  z-index: 100;
  transition: all 0.2s ease;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 30px;
  font-size: 22px;
  z-index: 100;
}

nav ul li a:hover {
  border-bottom: 3px solid #e48c2d;
}

.header-hero {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.hero-card {
  width: 600px;
  height: 100vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #eee;
  z-index: 100;
}
.hero-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  z-index: -1;
}

.hero-card-img {
  height: 250px;
  width: 250px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  margin: 25px 0;
  position: absolute;
  top: 20%;
}

.hero-card h1 {
  position: absolute;
  top: 50%;
}

/* About */

section#about {
  text-align: center;
  background-color: #e4792d;
  color: #eee;
  z-index: 1;
}

.about-content {
  width: 1000px;
  margin: 0 auto;
  padding: 25px 10px 25px 10px;
  text-align: left;
}
.about-content h3 {
  padding-bottom: 10px;
  font-size: 25px;
}

.about-content .lead {
  font-size: 22px;
}

section#about-skill {
  text-align: center;
  background-color: #222;
  color: #eee;
}

.about-skills {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
}

.about-skills i {
  font-size: 40px;
  margin-bottom: 10px;
}

.about-skills h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-skills ul li {
  font-size: 20px;
  margin: 10px 0;
  text-decoration: underline;
}

.about-skill-card {
  background-color: rgb(228, 121, 45);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(228, 121, 45, 0.6);
}

section#project {
  background-color: #e4792d;
}

.projects {
  display: flex;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 25px;
}

.project {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 20px;
  position: relative;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
  text-align: center;
  transform: translate(-50%, 100%);
  transition: all 0.3s linear
}

.project-info p {
  align-self: center;
  justify-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}
.project:hover .project-info {
  visibility: visible;
  transform: translate(-50%, -50%);
}

section#photography {
  background-color: #000;
}
.gallery-container {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: 500px 300px;
  grid-gap: 15px;
  padding: 20px;
}
.gallery-item {
  width: 100%;
  height: 100%;
}

.gallery-item .gallery-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.gallery-item .gallery-img .img2 {
  object-position: bottom;
}

.gallery-item:hover .gallery-img img {
  transform: scale(1.1);
}

/* grid column utilities */

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}
.w-4 {
  grid-column: span 4;
}
.w-5 {
  grid-column: span 5;
}
.w-6 {
  grid-column: span 6;
}

/* Grid row utilities */
.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
.h-4 {
  grid-row: span 4;
}
.h-5 {
  grid-row: span 5;
}
.h-6 {
  grid-row: span 6;
}


/* Contact */

section#contact{
  background-color: #222;
}

form{
  display:flex;
  flex-direction: column;
  max-width:800px;
  margin: 0 auto;
  font-family: inherit;
  padding: 25px 0;
  font-size: 18px;
}

form label{
  color: #eee;
  text-shadow: 0 0 5px rgba(0,0,0,.6);
}

form input{
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: inherit;
}

form textarea{
  font-size: 18px;
  font-family: inherit;
  border: none;
  padding: 15px;
  width: 100%;
  margin: 20px 0;
  border-radius: 5px;
}


form .btn{
  width: 100%;
  margin: 0 auto;
}

form input:focus, form textarea:focus{
outline:none;
border: 1px solid #e4792d;
box-shadow: 0 0 15px #e4792d;
}


form div{
  align-self: center;
}
/* Footer */

#footer{
  background-color: #e4792d;
  
}

#footer .container{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
#footer .container p{
  font-size:18px;
  color: #eee;
}

.social-icons li{
  display: inline-block;
  margin: 10px 15px 0 15px;
  position: relative;
  font-size: 25px;
}

.social-icons i{
  color: #e4792d;
  position:absolute;
  top: 25%;
  right: 30%;
  transition: all .25s ease-out;
}
.social-icons a {
  display:inline-block;
}

.social-icons a::before{
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background-color: #222;
  transition: all .25s ease-out;
}

.social-icons a:hover::before{
  transform: scale(0);
  transition:all .25s ease-out;
}

.social-icons a:hover i{
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  color: #222;
  background-color: #e4792d;
}


@media (max-width: 1500px){
  .header-hero{
    position:relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .hero-card{
    margin: 0 auto;
  }
  .hero-card::after{
    display: none;
  }
  .hero-card-img{
    width: 180px;
    height: 180px;
  }
}

@media (max-width:994px){
  .about-content{
    width: 80%;
  }
}

@media (max-width:660px){
  .about-skills{
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .about-skill-card{
    width: 80%;
    margin-bottom: 30px;
  }

  .gallery-container{
    display: flex;
    flex-direction: column;
  }

  form{
    width: 80%;
  }

  .social-icons{
    display:flex
  }
}

@media (max-width:420px){

 #header-home{
   background-position:75%;
 }
  nav ul li {
    font-size: 16px;
    margin: 0 auto;
  }
  .header-hero{
    display: flex;
  }
  .hero-card{
    margin: 0 auto;
  }
  .hero-card::after{
    display: none;
  }
  .hero-card-img{
    width: 120px;
    height: 120px;
  }

  .about-content .lead {
    text-align:justify;
    word-spacing: -1px;
  }

  .social-icons {
    justify-content: center;
    align-items: center;
  }
  .social-icons li{
    margin: 0 5px;
  }
  .social-icons a::before{
    display: none;
  }
  .social-icons a i{
    color: #222;
    position: relative;
  }
  .social-icons a:hover i{
    transform: scale(0)
  }

}




