@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/* resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #eee;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
/* containers */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
/* Utilities */
.section-title {
  padding: 20px;
  text-transform: uppercase;
  position: relative;
}

h2 {
  font-size: 30px;
}

/* header */

#header-home {
  height: 100vh;
  background: url(img/herobg.jpg) no-repeat center center/cover;
  position: relative;
}

#header-home::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

nav {
  padding: 25px 0;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 30px;
  font-size: 22px;
  z-index: 100;
}

nav ul li a:hover {
  border-bottom: 3px solid #e48c2d;
}

.header-hero {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.hero-card {
  width: 600px;
  height: 100vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #eee;
  z-index: 100;
}
.hero-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  z-index: -1;
}

.hero-card-img {
  height: 250px;
  width: 250px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  margin: 25px 0;
  position: absolute;
  top: 20%;
}

.hero-card h1 {
  position: absolute;
  top: 50%;
}

/* About */

section#about {
  text-align: center;
  background-color: #e4792d;
  color: #eee;
}

.about-content {
  width: 1000px;
  margin: 0 auto;
  height: 275px;
  padding: 25px 10px 25px 10px;
  text-align: left;
}
.about-content h3 {
  padding-bottom: 10px;
  font-size: 25px;
}

.about-content .lead {
  font-size: 22px;
}

section#about-skill {
  text-align: center;
  background-color: #555;
  color: #eee;
}

.about-skills {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
}

.about-skills i{
  font-size:40px;
  margin-bottom: 10px;
}

.about-skills h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-skills ul li {
  font-size: 20px;
  margin: 10px 0;
}

.about-skill-card {
  background-color: #e4792d;
  padding: 25px;
  border-radius: 10px;
  box-shadow:4px 4px 15px rgba(255,255,255,0.2)
}

