@import url("https://fonts.googleapis.com/css2?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #efefbb;
  background: linear-gradient(to right, #a8a2dc, #d49a8a);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  letter-spacing: 3px;
  color: #eee;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pokedex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

#go-back{
  text-decoration: none;
  cursor: pointer;
  position:fixed;
  bottom: 5%;
  left: 1%;
  z-index: 100;
  border: none;
  height: 60px;
  width: 60px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items:center;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: #6390f0;
  color: #eee;
}